.background-container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.background {
	margin-left: -1%;
	margin-top: -1%;
	width: 103%;
	filter: blur(5px);
}

.background-dark {
	display: none;
}

@media (prefers-color-scheme: dark) {
	.background-light {
		display: none;
	}
	.background-dark {
		display: block;
	}
	.background-container {
		background-color: #252b33;
	}
}


.popup {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 32px 16px;
	border-radius: 4px;
	box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.6);
	background-color: #ffffff;
	width: 800px;

	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
	text-align: center;
}

h2 {
	margin-top: 0;
}


.main-browsers, .other-browsers {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.browser {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 16px;
}

.browser-name {
	margin-top: 8px;
}

.browser-logo-container {
	height: 128px;
}
.browser-tor-browser img {
	border-radius: 50%;
	height: 128px;
}

.other-browsers .browser-logo-container, .other-browsers img {
	height: 64px;
}
.other-browsers .button {
	font-size: 12px;
}

.browser .button {
	text-decoration: none;
	color: #000000;
	cursor: pointer;
	background-color: #fff85f;
	border-bottom: 2px solid #cdbd1e;
	border-radius: 2px;
	padding: 5px 10px;
	margin-top: 8px;
	transition: all 0.3s;
}
.browser .button:hover {
	background-color: #fff400;
	border-bottom: 2px solid #4D4D4C;
}


.popup-chromium {
	display: flex;
	flex-direction: row;
	width: auto;
}

.popup-chromium .left {
	padding-right: 16px;
	border-right: 1px solid #c0c0c0;
	margin-right: 16px;
}

.popup-chromium img {
	max-width: 400px;
}